*.gem
*.rbc
.bundle
.config
.idea
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
nohup.out
.sass-cache/
node_modules/
dist/
bower_components/

# YARD artifacts
.yardoc
_yardoc
doc/
